<!DOCTYPE html>
<html class="no-js"> 
    <head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>AbbVie Veracity Tool</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-responsive.min.css">
        <link href='http://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="static/css/colors.css"> 
        <link rel="stylesheet" href="static/css/styles.css">

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: left;
            }
            button {
                background-color: Transparent;
                background-repeat:no-repeat;
                border: none;
                cursor:pointer;
                overflow: hidden;
                outline:none;
            }
         </style>
	</head>
    
    <body>

    
        <section class="container well">
        
        	<h1>AbbVie Veracity Tool</h1>
            
            <hr>
        
        	<form action="/" name="aForm" class="form-group" method="post">

                            <div class="col-xs-4">
                                <input type="text" id="custom-input" class="form-control" placeholder="Search Query Here" name = "query">
                            </div>
                            <div class="col-xs-2">
                                <input type="text" id="custom-input hello" class="form-control" placeholder="# of Results" name = "numResults">
                            </div>
                            <!--
                            <div class="input-group-btn">
                            <button onclick="Generate()" class="btn btn-default" type="button">Search</button>
                            </div>
                            -->
                            <div class="input-group-btn">
                                <input class="btn btn-default" name = "Search" type="submit" value="Search">
                            </div>
            <br> 
                       
            </form>
            
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript">
            function openPDF(doi)
            {
                var $ = jQuery;
                console.log(doi);
                $.ajax({
                    url: '/article',
                    data: {'doi': doi, 'greeting': 'hello world'},
                    type: 'POST',
                    success: function(response) {
                        console.log(response);

                    },
                    error: function(error) {
                        console.log(error);
                        //console.log(doi);
                    }
                });
            }
        </script>

        <section class="container well">
            <table id = "dataTable" style="width:100%">
              <tr>
                <th><b>Title</b></th>
                <th><b>Author</b></th>
                <th><b>Journal</b></th>
                <th><b>Publication Year</b></th>
                <th><b>Veracity Score</b></th>
                <th><b>DOI</b></th>
              </tr>
              <tr>{% for x in data %}
                <!--<td><button id = {{x.doi}} onclick = "openPDF(this.id)" >{{x.title}}</button></td>-->
                <!--<td><a href = "/article.html?doi=" + {{x.doi}}/>{{x.title}}</td> -->
                <td><a href = "{{url_for('article', doi= x.doi)}}"> {{x.title}} </a></td>
                <td>{{x.authors}}</td>
                <td>{{x.journal}}</td>
                <td>{{x.publication_year}}</td>
                <td>{{x.veracity}}</td>
                  <td>{{x.doi}}</td>
              </tr>
                {% endfor %}

            <!--
            <div data-role="collapsible" data-collapsed="false">
             <tr>
                 <td>
                     <iframe width="700" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://doi.org"></iframe>
                 </td>
             </tr>
             </div>
            -->
            </table>
        </section>
	</body>
</html>